<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
  </head>
  <body>
    <h1>My ToDos!</h1>
    <ul>
        <% for(let i=0; i<zebra.length; i++) { %>
            <li class="todoItem">
                <% if(zebra[i].completed === true) {%>
                <span class="completed"><%= zebra[i].todo %></span> <!-- becareful with spaces -->
                <% }else{ %>
                <span><%= zebra[i].todo %></span> <!-- becareful with spaces -->
                <% } %>
                <span class="del"> Delete </span>
            </li>
        <% } %>
      
    </ul>

    <h2>Thangs left to do: <%= left %></h2>

    <form action="/createTodo" method="POST">
      <input type="text" name="todoItem" placeholder="Enter Todo Item" />
      <input type="submit" />
    </form>

    <script src="js/main.js"></script>
  </body>
</html>
